<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= render 'shared/button', action: :logout %>
  <% else %>
    <%= render 'shared/button', action: :signup %>
    <%= render 'shared/button', action: :login %>
  <% end %>

<%= yield %>

</body>
</html>
